<!DOCTYPE html>
<html>
     <head>
        <title>Dinah's blog</title>
    </head>
<body>
    <h1 style="color: rgb(20, 59, 174);">Welcome to Dinah's Blog</h1>
    <article>
            <time>published: 08.08.2025, 12:14</time>
            <h2 style="color: rgb(29, 215, 225);"><a href="">My first post</a></h2>
            <p>In it to make history Boldly, Empower youth, women and children, If you are into positive change then this is your chance to shine with me.</p>
        </article>
    <ul><li>Debater</li><li>Leader</li><li>TechStar</li></ul>
    <p><b>Hi there!</b></p>
    <p>It works!</p>
</body>
<footer style="color: rgb(0, 255, 247);">Dream Big</footer>
</html>